<!-- Shared table for elementary reactions, used in both create and play -->
<table class="table table-hover" id="elementaryReactions">
    <thead>
        <tr>
            {% if mode == "play" %} <th>Use</th> {% endif %}
            <th>Reactant 1</th>
            <th>+</th>
            <th>Reactant 2</th>
            <th>=</th>
            <th>Product 1</th>
            <th>+</th>
            <th>Product 2</th>
            <th>Controls</th>
        </tr>
    </thead>
    <tbody id="elementaryReactionsTbody"></tbody>
</table>
<button class="btn btn-secondary" id="addElementaryReaction" style="width:100%" type="button">Add another Elementary Reaction</button>
